
<div class='col-lg-8 padding-left-60 padding-right-60 probootstrap-animate fadeInRight probootstrap-animated padding-top-20'>
	<div class='col-lg-12 no-pad-rt'>
		<div class="col-lg-3">
		</div>
		<div class="col-lg-6">
			<input class="inputBlue" type="text" name="mapNameOld" placeholder="Untitled Map">
		</div>
		<div class="col-lg-3">
		</div>
	</div>
	<div class='col-lg-12 paddding-top-20 col-sm-12 col-sm-12 no-pad-rt'>
		<div id='map' style='background-color: white;'>
		</div>
	</div>
</div>