<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/CSS/header.css">

<nav id="myNav" class="navbar navbar-fixed-top">
  <div class="container-fluid myBox">
    <div class="navbar-header">
      <a class="navbar-brand mainYellow-text padding-left-50" href="/">Gmaps</a>
      <ul class="nav navbar-nav">
        <li><a href="/create"><span class="glyphicon glyphicon-pencil"></span>Create</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right padding-right-50">
      <li><a href="/upgrade"><span class="glyphicon glyphicon-arrow-up"></span>Upgrade</a></li>
      <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>
  </div>
</nav>
