<div class='col-lg-12 padding-left-30 padding-right-30 btnContainer padding-top-20<%=allLocations[i].id%>'>
	<div class='col-lg-1 clickable' >
		<i class='fas fa-map-marker-alt'></i>
	</div>
	<div class='col-lg-6 clickable'>
		<p style='margin-bottom: 0px;'><%=allLocations[i].title%></p>
	</div>
	<div class='col-lg-1'>
		<form id='deleteForm<%=allLocations[i].id' method='post' action='/delete'>
			<i class='myTrash fas fa-trash-alt'></i>
			<input type='text' name='locationId' style='display:none' value='<%=allLocations[i].id%>'>
		</form>
	</div>
	<div class='col-lg-4 clickable'>
		<i style='float:right' class='fas fa-arrow-circle-right '></i>
	</div>
</div>