<%include partials/header%>
	<title>Get your code</title>
	<link rel="stylesheet" type="text/css" href="/css/prism.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/getCode.css">-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <pre>
                <code class="language-html">
                <%=html%>
                </code>
                </pre>
            </div>
        </div>
    </div>
    <script src="/js/prism.js" type="text/javascript"></script>
</body>
<%include partials/footer%>