<%include partials/header%>
	<title>HomePage</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" type="text/css" href="css/homePage.css">
</head>
<body>
        <section class="probootstrap-intro">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                 <h1 class="probootstrap-animate">Create stunning maps for your customers for <strong>free</strong>.</h1>
                <img src="/img/example1.PNG" class="probootstrap-animate img-fluid exampleImg">
                <div class="probootstrap-subtitle probootstrap-animate">
                  <h2>Easy to create no coding is necessary with gmap's editor.<!--<a href="https://uicookies.com/" target="_blank">uicookies.com</a>--></h2>
                </div>
                <!--<p class="watch-intro probootstrap-animate"><a href="https://vimeo.com/45830194" class="popup-vimeo">Watch the intro <i class="icon-play2"></i></a></p>-->
              </div>
            </div>
          </div>
        </section>





        <!-- START: section -->
  <section class="probootstrap-section probootstrap-feature-first">
    <div class="container">
      <div class="row mb70" style="margin-top: -120px;">
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-box">
              <div class="icon"><i class="icon-presentation"></i></div>
              <h3>Business presentation</h3>
              <p>Impress your clients with gmaps's intuitive location display. Pick and choose colors that match your theme!</p>
          </div>
        </div>
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-box">
              <div class="icon"><i class="icon-bargraph"></i></div>
              <h3>Business growth</h3>
              <p>As your business grows, so does the number of your locations. We provide a way for your customers to find you, wherever you are!</p>
          </div>
        </div>
        <div class="col-md-4 probootstrap-animate">
          <div class="probootstrap-box">
              <div class="icon"><i class="icon-stopwatch2"></i></div>
              <h3>Save time</h3>
              <p>With Gmap's editor you can create a map in less than a minute. Which means you can spend time on the things that really matter!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 probootstrap-animate">
          <p class="text-center">
            <a href="/locationsInput" class="btn btn-primary btn-lg btn-block" role="button">Get started</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END: section -->

  

  <!-- START: section -->
  <section class="probootstrap-section probootstrap-section-extra">
    <div class="container-fluid probootstrap-absolute">
      <div class="row">
        <div class="col-md-7 col-md-push-6 probootstrap-animate" data-animate-effect="fadeInRight">
          <img src="img/img_showcase_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive shadow-left">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 section-heading probootstrap-animate">
          <h2>Gmap's Editor</h2>
          <p class="lead">Designing a map for your company can't get any easier with Gmap's intuitive editor!</p>
          
          <blockquote class="probootstrap-quote">
            <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
            <p class="probootstrap-quote-author">Brooke Welker, Web Designer</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <!-- END: section -->
  <!-- START: section -->
  <section class="probootstrap-section probootstrap-section-colored">
    <div class="container">
      <a name="hire"></a>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading mb50 text-center probootstrap-animate">
          <!--<img src="/img/profilePic.PNG" class="profilePic">-->
          <h2>Christopher McCoy</h2>
          <p class="lead">Full Stack Web Developer and CEO of Gmaps.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <h3 class="heading-with-icon"><i class="icon-heart2"></i> <span>Hire a developer that cares</span></h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <h3 class="heading-with-icon"><i class="icon-rocket"></i> <span>Launch your website faster</span></h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
          <h3 class="heading-with-icon"><i class="icon-image"></i> <span>Unparallel Design</span></h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <div class="clearfix visible-sm-block"></div>
      </div>
    </div>
  </section>
  <!-- END: section -->

  <!-- START: footer -->
  <footer role="contentinfo" class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>About</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p><a href="#" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Blog</h3>
            <ul class="probootstrap-blog-list">
              <li>
                <a href="#">
                  <figure><img src="img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure><img src="img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <figure><img src="img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                  <div class="text">
                    <h4>River named Duden flows</h4>
                    <p>A small river named Duden flows by their place</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h3>Contact</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
              <li><i class="icon-mail"></i><span>info@domain.com</span></li>
              <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="row mt40">
        <div class="col-md-12 text-center">
          <ul class="probootstrap-footer-social">
            <li><a href=""><i class="icon-twitter"></i></a></li>
            <li><a href=""><i class="icon-facebook"></i></a></li>
            <li><a href=""><i class="icon-instagram2"></i></a></li>
          </ul>
          <p>
            <small>&copy; 2017 <a href="https://uicookies.com/" target="_blank">uiCookies:Sublime</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://uicookies.com/" target="_blank">uicookies.com</a> Demo Images: Unsplash</small>
          </p>
          
        </div>
      </div>
    </div>
  </footer>
  <!-- END: footer -->


</body>
<%include partials/footer%>
