<%include partials/header%>
	<title>HomePage</title>
</head>
<body>
	<!--<h1>Home Page</h1>
	<a href="/locationsInput"><button class="btn btn-primary">create</button></a>
	<a href="/register"><button class="btn btn-primary">register</button></a>
	<a href="/login"><button class="btn btn-primary">login</button></a>-->
<div class="nav-pad">
</div>
<div class="container">
	<div class="jumbotron mainWhite">
		<div class="row">
		<div class="col-lg-8">
			<img src="/imgs/example1.PNG">
		</div>
		<div class="col-lg-4">
			<h2 class="top">Interactive Maps For Businesses!</h2> 
			<p>A flexible and free tool that every online business needs.</p> 
			<div class="bottom">
				<a class="mapsBtn" href="/locationsInput">Get Started</a>
			</div>
		</div>
	</div>

		<!--<h1>Interactive Maps For Businesses!</h1> 
		<p>A flexible and free tool that every online business needs.</p> 
		<a class="mapsBtn" href="/locationsInput">Get Started</a>-->
	</div>

	<!--<div class="jumbotron mainWhite">
		<div class="col-lg-6">
		</div>
		<div class="col-lg-6">
		</div>
		<a class="mapsBtn" href="/locationsInput">Get Started</a>
	</div>-->







</div>


</body>
<%include partials/footer%>
