<%include partials/header%>
	<title>HomePage</title>
	<link rel="stylesheet" type="text/css" href="/CSS/homePage.css">
</head>
<body>
</div>


<div class="container">
	<div class="jumbotron mainWhite">
		<div class="row">
		<div class="col-lg-8">
			<img src="/imgs/picsAll.PNG">
		</div>
		<div class="col-lg-4">
			<h2 class="top">Create stunning maps for your customers.</h2> 
			<p>Easy to create no coding is necessary with gmap's editor.</p> 
			<div class="bottom">
				<a class="mapsBtn" href="/locationsInput">Get Started</a>
			</div>
		</div>
		</div>

	</div>


</div>


</body>
<%include partials/footer%>
