<%include partials/header%>
	<title>HomePage</title>
</head>
<body>
	<h1>Home Page</h1>
	<a href="/register"><button class="btn btn-primary">register</button></a>
	<a href="/login"><button class="btn btn-primary">login</button></a>
</body>
<%include partials/footer%>
