<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
</head>
<body>
	<h1>Home Page</h1>
	<a href="/register"><button>register</button></a>
	<a href="/login"><button>login</button></a>
</body>
</html>