<%include partials/header%>
<title>Google Maps Plugin</title>
<link rel="stylesheet" type="text/css" href="/CSS/locationsInput.css">
</head>
<body>
	<div class="container noSpace">
		<div class="row">
			<div class="col-lg-4 editor text-center probootstrap-animate fadeInLeft probootstrap-animated">
				<div class="col-lg-6">
					<p id="contentBtn" class="selected">Content</p>
				</div>
				<div class="col-lg-6 text-center">
					<p id="designBtn">Design</p>
				</div>

				<div id="location" class="row text-left">
					<div class="col-lg-12 padding-left-30 padding-top-20">
						<p>Locations</p>
					</div>

					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 
					<div class="col-lg-12 padding-left-30 padding-top-20 ">
						<div class="locationBtn vertical-center">
						<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location1<i class="fas fa-arrow-circle-right " style="font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;"></i></p>
						</div>
					</div> 

				</div>

				








				<div id="design" class="row text-left">
					<div class="col-lg-12 padding-left-30 padding-top-20">
						<p>Design</p>
					</div>
				</div>

			</div>
			<div class="col-lg-9">
			</div>
		</div>

			<!--
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<div id="table" class="table-editable">
							<span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
								aria-hidden="true"></i></a></span>
								<form method="post" action="main">
									<table class="table table-bordered table-responsive-md text-center">
										<tr>
											<th class="text-center">Address</th>
											<th class="text-center">City</th>
											<th class="text-center">State</th>
											<th class="text-center">Company Name</th>
											<th class="text-center">Phone Number</th>
											<th class="text-center">Link</th>
											<th class="text-center">Remove</th>
										</tr>
										<tr class="data">
											<td class="pt-3-half"><input type="text" name="address"></td>
											<td class="pt-3-half"><input type="text" name="city"></td>
											<td class="pt-3-half"><input type="text" name="state"></td>
											<td class="pt-3-half"><input type="text" name="companyName"></td>
											<td class="pt-3-half"><input type="text" name="phone"></td>
											<td class="pt-3-half"><input type="text" name="link"></td>
											<td>
												<span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Delete</button></span>
											</td>
										</tr>

										<tr class="data">
											<td class="pt-3-half" ><input type="text" name="address"></td>
											<td class="pt-3-half" ><input type="text" name="city"></td>
											<td class="pt-3-half" ><input type="text" name="state"></td>
											<td class="pt-3-half" ><input type="text" name="companyName"></td>
											<td class="pt-3-half" ><input type="text" name="phone"></td>
											<td class="pt-3-half" ><input type="text" name="link"></td>
											<td>
												<span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Delete</button></span>
											</td>
										</tr>

									</table>
									<div class="col-lg-6">
									</div>
									<div class="col-lg-6 padding-right-0">
										<button class="mapsBtn btn prevNext" type="submit">Next</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<h1>map preview</h1>
				</div>
			</div>-->
		</div>
		<!-- Editable table -->
		<script type="text/javascript" src="/JS/locationsInput.js"></script>
	</body>
	<%include partials/footer%>