<%include partials/header%>
<title>Google Maps Plugin</title>
<link rel="stylesheet" type="text/css" href="/CSS/locationsInput.css">
<link rel="stylesheet" type="text/css" href="/CSS/map.css">
</head>
<body>
	<div class="container noSpace">
		<div class="row editorRow">
			<div class="col-lg-4 editor text-center probootstrap-animate fadeInLeft probootstrap-animated">
				<div class="choose row padding-top-20">
					<div class="col-lg-6">
						<p id="contentBtn" class="selected">Content</p>
					</div>
					<div class="col-lg-6 text-center">
						<p id="designBtn">Design</p>
					</div>
				</div>
				<div id="location" class="row text-left">
					<div class="col-lg-12 padding-left-50 padding-top-20">
						<p>Locations</p>
					</div>
					<div class="scrollDiv">

						<div class="col-lg-12 padding-left-30 padding-right-30 padding-top-20 btnContainer">
							<div class="locationBtn vertical-center">
								<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location 1<span class="myTrash2"><i class="myTrash fas fa-trash-alt"></i></span><i class="fas fa-arrow-circle-right "></i></p>
							</div>
						</div> 

						<div class="col-lg-12 padding-left-30 padding-right-30 padding-top-20 btnContainer">
							<div class="locationBtn vertical-center">
								<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location 2<span class="myTrash2"><i class="myTrash fas fa-trash-alt"></i></span><i class="fas fa-arrow-circle-right "></i></p>
							</div>
						</div> 

						<div class="col-lg-12 padding-left-30 padding-right-30 padding-top-20 btnContainer">
							<div class="locationBtn vertical-center">
								<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location 3<span class="myTrash2"><i class="myTrash fas fa-trash-alt"></i></span><i class="fas fa-arrow-circle-right "></i></p>
							</div>
						</div> 

						<div class="col-lg-12 padding-left-30 padding-right-30 padding-top-20 btnContainer">
							<div class="locationBtn vertical-center">
								<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location 4<span class="myTrash2"><i class="myTrash fas fa-trash-alt"></i></span><i class="fas fa-arrow-circle-right "></i></p>
							</div>
						</div> 

						<div class="col-lg-12 padding-left-30 padding-right-30 padding-top-20 btnContainer">
							<div class="locationBtn vertical-center">
								<p class="vertical-center"><i class="fas fa-map-marker-alt padding-right-20"></i>Location 5<span class="myTrash2"><i class="myTrash fas fa-trash-alt"></i></span><i class="fas fa-arrow-circle-right "></i></p>
							</div>
						</div> 

					</div>

				</div>

				<div class="col-lg-12 padding-top-20">
					<a class="btn btn-primary  btn-block addLocationBtn" role="button"><i class="fas fa-plus padding-right-20"></i>Add Location</a>
				</div>

				<div class="col-lg-6 padding-top-20">
					<a href="/locationsInput" class="btn btn-primary  btn-block" role="button">Back</a>
				</div>
				<div class="col-lg-6 padding-top-20">
					<a href="/locationsInput" class="btn btn-primary  btn-block" role="button">Next</a>
				</div>

				<div id="design" class="row text-left">
					<div class="col-lg-12 padding-left-30 padding-top-20">
						<p>Design</p>
					</div>
				</div>

			</div>
			<div class="col-lg-8 padding-left-60 padding-right-60 padding-top-60">
				<div class="row">
					<div class="col-lg-9 col-md-12 col-sm-12 border-top-bottom custom-padding">
						<div id="click-box" class="autocomplete">
							<input  autocomplete="off" type="text" placeholder="Search Locations" id="filter_users">
							<ul id="users-list" class="z-index-99">

							</ul>
						</div>
					</div>
				</div>  
				<div class="row">
					<div class="col-lg-9 col-sm-12 col-sm-12 no-pad-rt">
						<div id="map" style="background-color: blue;">
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 pre-scrollable border-bottom list-stores">
						<ul id="store-locations">



						</ul>

					</div>

				</div>

			</div>
		</div>
	</div>
</div>

</body>
<script>eval(<%-JSON.stringify(mapJs)%>)</script>
<script src=<%-JSON.stringify(gKey)%> async defer></script>
<script type="text/javascript" src="/JS/locationsInput.js"></script>
</body>
<%include partials/footer%>