<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="title">Login</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<div>
				<form  action="/login" method="post">
					<div >
						<input type="text" name="username" placeholder="username" required>
					</div>
					<div>
						<input type="text" name="password" placeholder="password" required>
					</div>
    				<a type="submit"><button>Login</button></a>
				</form>
				<a href="/register"><button>register</button></a>
			</div>
		</div>
	</div>

	</div>

</body>
</html>