<!DOCTYPE html>
<html>
<head>
	<title>Google Maps Plugin</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<form method="post" action="main">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">Num</th>
	      <th scope="col">Address</th>
	      <th scope="col">Business Home Page link</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td><input type="text" name="address"></td>
	      <td><input type="text" name="link[]"></td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td><input type="text" name="address"></td>
	      <td><input type="text" name="link[]"></td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td><input type="text" name="address"></td>
	      <td><input type="text" name="link[]"></td>
	    </tr>
	  </tbody>
	</table>
	<input type="submit">
</form>
</body>
</html>