<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/CSS/test.css">
</head>
<body>
<div>
<img class="img1" src="/img/example1.PNG">
<img class="img2" src="/img/example2.PNG">
<img class="img3" src="/img/example3.PNG">
</div>
</body>
</html>