<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/CSS/test.css">
</head>
<body>
<img class="img1" src="/imgs/example1.PNG">
<img class="img2" src="/imgs/example2.PNG">
<img class="img3" src="/imgs/example3.PNG">
</body>
</html>