<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1>Register</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<div>
				<form  action="/register" method="post">
					<div>
						<input type="text" name="username" placeholder="username" required>
					</div>
					<div>
						<input type="text" name="password" placeholder="password" required>
					</div>
    				<a type="submit"><button>register</button></a>
				</form>
			</div>
		</div>
	</div>


</div>