</head>
<style>
#map{
  height: 500px;
  width: 500px;
  display: visible;
}
</style>
<body>
	<!--map-->
	<!--styles-->
	<!--basic map-->
	<!--api key-->

<div id='map'></div>
<script src='http://localhost:3000/js/basicMap.js'></script>
<%-code%>

                        

</body>
