<%include partials/header%>
	
	<title>Map</title>
	<link rel="stylesheet" type="text/css" href="/CSS/map.css">
</head>
<body>
	<%for(var i=0;i<errorMessages.length;++i){%>
	<h1><%=errorMessages[i];%></h1>
	<%}%>

	<%var position=[];%>
	<%for(var i=0;i<locations.length;++i){%>
	<%position.push(locations[i]);%>
	<%}%>

	<div class="container">
	    <div class="row">
	        <div class="col-lg-9 col-md-12 col-sm-12 border-top-bottom custom-padding">
	              <div id="click-box" class="autocomplete">
	                <input  autocomplete="off" type="text" placeholder="Search Locations" id="filter_users">
	                    <ul id="users-list" class="z-index-99">

	                    </ul>
	              </div>
	        </div>
	    </div>  
	    <div class="row">
	        <div class="col-lg-9 col-sm-12 col-sm-12 no-pad-rt">
	            <div id="map">
	                <p>
	                </p>
	            </div>
	        </div>
	        <div class="col-lg-3 col-md-12 col-sm-12 pre-scrollable border-bottom list-stores">
	            <ul id="store-locations">
	                
	                
	                
	            </ul>

	        </div>

	    </div>

	    <div class="row">
	    	<div class="col-lg-12">
	    		<h1>Code:</h1>
	    	</div>
	    	<div class="col-lg-12">
	    		<p id="beg"></p>
	    		<p>var clientPositions=<%=JSON.stringify(position)%>;</p>
	    		<p id="end"></p>
	    		<p id="code"></p>
	    	</div>
	    </div>
	</div>

	
</body>
<script>


var _0xe3eb=["\x6D\x61\x70\x73","\x6D\x61\x70","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x70\x6F\x73\x69\x74\x69\x6F\x6E","\x6C\x65\x6E\x67\x74\x68","\x6E\x61\x6D\x65","\x61\x64\x64\x72\x65\x73\x73","\x63\x6C\x69\x63\x6B","\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x27\x63\x75\x73\x74\x6F\x6D\x2D\x70\x61\x64\x64\x69\x6E\x67\x2D\x35\x27\x3E\x3C\x68\x34\x3E","\x74\x69\x74\x6C\x65","\x3C\x2F\x68\x34\x3E","\x3C\x70\x3E","\x3C\x2F\x70\x3E","\x3C\x62\x75\x74\x74\x6F\x6E\x20\x76\x61\x6C\x75\x65\x3D\x27\x32\x27\x20\x63\x6C\x61\x73\x73\x3D\x27\x6D\x61\x69\x6E\x2D\x63\x6F\x6C\x6F\x72\x20\x62\x74\x6E\x27\x20\x6F\x6E\x63\x6C\x69\x63\x6B\x3D\x27\x67\x65\x74\x44\x69\x72\x65\x63\x74\x69\x6F\x6E\x73\x28","\x22","\x29\x27\x3E\x44\x69\x72\x65\x63\x74\x69\x6F\x6E\x73\x3C\x2F\x62\x75\x74\x74\x6F\x6E\x3E\x3C\x2F\x64\x69\x76\x3E","\x73\x65\x74\x43\x6F\x6E\x74\x65\x6E\x74","\x6F\x70\x65\x6E","\x61\x64\x64\x4C\x69\x73\x74\x65\x6E\x65\x72","\x65\x76\x65\x6E\x74","\x6D\x61\x72\x6B\x65\x72\x3A","\x6C\x6F\x67","\x66\x69\x6C\x74\x65\x72\x5F\x75\x73\x65\x72\x73","\x70\x6C\x61\x63\x65\x73","\x62\x6F\x75\x6E\x64\x73\x5F\x63\x68\x61\x6E\x67\x65\x64","\x67\x65\x74\x42\x6F\x75\x6E\x64\x73","\x73\x65\x74\x42\x6F\x75\x6E\x64\x73","\x70\x6C\x61\x63\x65\x73\x5F\x63\x68\x61\x6E\x67\x65\x64","\x67\x65\x74\x50\x6C\x61\x63\x65\x73","\x67\x65\x6F\x6D\x65\x74\x72\x79","\x52\x65\x74\x75\x72\x6E\x65\x64\x20\x70\x6C\x61\x63\x65\x20\x63\x6F\x6E\x74\x61\x69\x6E\x73\x20\x6E\x6F\x20\x67\x65\x6F\x6D\x65\x74\x72\x79","\x76\x69\x65\x77\x70\x6F\x72\x74","\x75\x6E\x69\x6F\x6E","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x65\x78\x74\x65\x6E\x64","\x66\x6F\x72\x45\x61\x63\x68","\x66\x69\x74\x42\x6F\x75\x6E\x64\x73","\x68\x72\x65\x66","\x68\x74\x74\x70\x73\x3A\x2F\x2F\x77\x77\x77\x2E\x67\x6F\x6F\x67\x6C\x65\x2E\x63\x6F\x6D\x2F\x6D\x61\x70\x73\x2F\x73\x65\x61\x72\x63\x68\x2F","\x65\x78\x65\x63\x75\x74\x65\x64","\x73\x74\x6F\x72\x65\x2D\x6C\x6F\x63\x61\x74\x69\x6F\x6E\x73","\x6C\x69","\x63\x72\x65\x61\x74\x65\x45\x6C\x65\x6D\x65\x6E\x74","\x64\x69\x76","\x62\x6F\x72\x64\x65\x72\x2D\x74\x6F\x70\x2D\x62\x6F\x74\x74\x6F\x6D","\x61\x64\x64","\x63\x6C\x61\x73\x73\x4C\x69\x73\x74","\x63\x75\x73\x74\x6F\x6D\x2D\x70\x61\x64\x64\x69\x6E\x67","\x73\x74\x6F\x72\x65\x2D\x6C\x69","\x76\x61\x6C\x75\x65","\x70","\x63\x72\x65\x61\x74\x65\x54\x65\x78\x74\x4E\x6F\x64\x65","\x61\x70\x70\x65\x6E\x64\x43\x68\x69\x6C\x64","\x62\x75\x74\x74\x6F\x6E","\x44\x69\x72\x65\x63\x74\x69\x6F\x6E\x73","\x6F\x6E\x63\x6C\x69\x63\x6B","\x67\x65\x74\x44\x69\x72\x65\x63\x74\x69\x6F\x6E\x73\x28","\x29","\x73\x65\x74\x41\x74\x74\x72\x69\x62\x75\x74\x65","\x6D\x61\x69\x6E\x2D\x63\x6F\x6C\x6F\x72","\x62\x74\x6E","\x73\x74\x79\x6C\x65","\x6C\x69\x73\x74\x2D\x73\x74\x79\x6C\x65\x2D\x74\x79\x70\x65\x3A\x20\x6E\x6F\x6E\x65\x3B","\x2E\x73\x74\x6F\x72\x65\x2D\x6C\x69","\x71\x75\x65\x72\x79\x53\x65\x6C\x65\x63\x74\x6F\x72\x41\x6C\x6C","\x73\x65\x74\x43\x65\x6E\x74\x65\x72","\x61\x64\x64\x45\x76\x65\x6E\x74\x4C\x69\x73\x74\x65\x6E\x65\x72"];function initMap(){var _0x5205x2=<%-JSON.stringify(position)%>;var _0x5205x3= new google[_0xe3eb[0]].InfoWindow();map=  new google[_0xe3eb[0]].Map(document[_0xe3eb[2]](_0xe3eb[1]),{center:_0x5205x2[0][_0xe3eb[3]],zoom:4});var _0x5205x4=[];for(var _0x5205x5=0;_0x5205x5< _0x5205x2[_0xe3eb[4]];++_0x5205x5){_0x5205x4=  new google[_0xe3eb[0]].Marker({position:_0x5205x2[_0x5205x5][_0xe3eb[3]],map:map,title:_0x5205x2[_0x5205x5][_0xe3eb[5]],address:_0x5205x2[_0x5205x5][_0xe3eb[6]]});google[_0xe3eb[0]][_0xe3eb[19]][_0xe3eb[18]](_0x5205x4,_0xe3eb[7],function(){_0x5205x3[_0xe3eb[16]](_0xe3eb[8]+ this[_0xe3eb[9]]+ _0xe3eb[10]+ _0xe3eb[11]+ this[_0xe3eb[6]]+ _0xe3eb[12]+ _0xe3eb[13]+ _0xe3eb[14]+ this[_0xe3eb[6]]+ _0xe3eb[14]+ _0xe3eb[15]);_0x5205x3[_0xe3eb[17]](map,this)})};console[_0xe3eb[21]](_0xe3eb[20]);console[_0xe3eb[21]](_0x5205x4);_0x5205xe(_0x5205x2);var _0x5205x6=document[_0xe3eb[2]](_0xe3eb[22]);var _0x5205x7= new google[_0xe3eb[0]][_0xe3eb[23]].Autocomplete(_0x5205x6);var _0x5205x8= new google[_0xe3eb[0]][_0xe3eb[23]].SearchBox(_0x5205x6);map[_0xe3eb[18]](_0xe3eb[24],function(){_0x5205x8[_0xe3eb[26]](map[_0xe3eb[25]]())});_0x5205x8[_0xe3eb[18]](_0xe3eb[27],function(){var _0x5205x9=_0x5205x8[_0xe3eb[28]]();if(_0x5205x9[_0xe3eb[4]]== 0){return};var _0x5205xa= new google[_0xe3eb[0]].LatLngBounds();_0x5205x9[_0xe3eb[35]](function(_0x5205xb){if(!_0x5205xb[_0xe3eb[29]]){console[_0xe3eb[21]](_0xe3eb[30]);return};if(_0x5205xb[_0xe3eb[29]][_0xe3eb[31]]){_0x5205xa[_0xe3eb[32]](_0x5205xb[_0xe3eb[29]][_0xe3eb[31]])}else {_0x5205xa[_0xe3eb[34]](_0x5205xb[_0xe3eb[29]][_0xe3eb[33]])}});map[_0xe3eb[36]](_0x5205xa)});function _0x5205xc(_0x5205xd){window[_0xe3eb[33]][_0xe3eb[37]]= _0xe3eb[38]+ _0x5205xd}function _0x5205xe(_0x5205xf){console[_0xe3eb[21]](_0xe3eb[39]+ _0x5205xf[_0xe3eb[4]]);var _0x5205x10=document[_0xe3eb[2]](_0xe3eb[40]);for(var _0x5205x5=0;_0x5205x5< _0x5205xf[_0xe3eb[4]];++_0x5205x5){var _0x5205x11=document[_0xe3eb[42]](_0xe3eb[41]);var _0x5205x12=document[_0xe3eb[42]](_0xe3eb[43]);_0x5205x12[_0xe3eb[46]][_0xe3eb[45]](_0xe3eb[44]);_0x5205x12[_0xe3eb[46]][_0xe3eb[45]](_0xe3eb[47]);_0x5205x12[_0xe3eb[46]][_0xe3eb[45]](_0xe3eb[48]);_0x5205x12[_0xe3eb[49]]= _0x5205x5;var _0x5205x13=document[_0xe3eb[42]](_0xe3eb[50]);_0x5205x13[_0xe3eb[46]][_0xe3eb[45]](_0xe3eb[9]);textTitle= document[_0xe3eb[51]](_0x5205xf[_0x5205x5][_0xe3eb[5]]);_0x5205x13[_0xe3eb[52]](textTitle);_0x5205x12[_0xe3eb[52]](_0x5205x13);var _0x5205xd=document[_0xe3eb[42]](_0xe3eb[50]);var _0x5205x14=document[_0xe3eb[51]](_0x5205xf[_0x5205x5][_0xe3eb[6]]);_0x5205xd[_0xe3eb[52]](_0x5205x14);_0x5205x12[_0xe3eb[52]](_0x5205xd);var _0x5205x15=document[_0xe3eb[42]](_0xe3eb[53]);var _0x5205x16=document[_0xe3eb[51]](_0xe3eb[54]);_0x5205x15[_0xe3eb[52]](_0x5205x16);_0x5205x15[_0xe3eb[58]](_0xe3eb[55],_0xe3eb[56]+ _0xe3eb[14]+ _0x5205xf[_0x5205x5][_0xe3eb[6]]+ _0xe3eb[14]+ _0xe3eb[57]);_0x5205x15[_0xe3eb[46]][_0xe3eb[45]](_0xe3eb[59]);_0x5205x15[_0xe3eb[46]][_0xe3eb[45]](_0xe3eb[60]);_0x5205x12[_0xe3eb[52]](_0x5205x15);_0x5205x11[_0xe3eb[52]](_0x5205x12);_0x5205x11[_0xe3eb[61]]= _0xe3eb[62];_0x5205x10[_0xe3eb[52]](_0x5205x11)};var _0x5205x17=document[_0xe3eb[64]](_0xe3eb[63]);for(var _0x5205x5=0;_0x5205x5< _0x5205xf[_0xe3eb[4]];++_0x5205x5){_0x5205x17[_0x5205x5][_0xe3eb[66]](_0xe3eb[7],function(){map[_0xe3eb[65]](_0x5205xf[this[_0xe3eb[49]]][_0xe3eb[3]])})}}}



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJyl_DjWAyQrgaRq_xAQjhPb22zUoi_xw&libraries=places&callback=initMap" async defer></script>
<script src="/JS/viewMap.js"></script>

<%include partials/footer%>