.code-snippet{
	display: block;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
}
.htmlCode{
	background-color: #42444e;
    color: #fff;
    height: 500px;
}
code{
	background-color: #42444e;
}