html,
body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}
#myNav{
	background: #03a9f4;
	color: #F5F5F5!important;
	font-family: 'Roboto', sans-serif;
	border-radius: 0px;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	margin-left: -10px;
	margin-right: -10px;



}
a{
	color:white;
}
.nav>a:hover{
	/*text-decoration: underline;*/
	background:  #03a9f4;
}
a:active { 
  background-color: yellow;
}
.nav>li>a:focus, .nav>li>a:hover {
        /*text-decoration: underline;*/
        background-color: transparent !important;
        color:white;
  }
  .jumbotron{
  	-webkit-box-shadow: 0 8px 6px -6px #999;
    padding: 30px;
    padding-left: 30px!important;
  }
  .mainWhite{
  	background-color: #F5F5F5;
  }
  .mainYellow-text{
  	color: #FFCA2A!important;
  }
button{
	background-color: #039be5;
    color: #fff;
    transition: box-shadow .2s;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 0px;
}
button:hover{
	color:white!important;
	-webkit-box-shadow: 0 8px 6px -6px #999;
}
.boxSha:hover{
	-webkit-box-shadow: 0 8px 6px -6px #999;
	color:green;
}
.mapsBtn{
	cursor: pointer!important;
	background-color: #039be5!important;
    color: #fff!important;
    transition: box-shadow .2s!important;
    padding: 16px!important;
    font-size: 14px!important;
    line-height: 20px!important;
    text-transform: uppercase!important;
    text-decoration: none!important;
}
.mapsBtn:hover{
  -webkit-box-shadow: 0 8px 6px -6px #999;

}
img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.bottom{
  padding-top: 63px;
}
.top{
  margin-top: 0px;
}
.nav-pad{
  padding-top:5%;
}
.padding-left-50{
  padding-left: 50px;
}
.padding-right-50{
  padding-right: 50px;
}