input {
-webkit-appearance: none;
 border:none;
 width: 100%;
 height: 100%;
 margin:0px;
 margin-bottom: 0px;
 padding: .75rem;
 background-color: transparent;
  }
.table{
	padding: 0px!important;
	background-color: #FFFFFF;
}
.noSpace{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	display:table;
	height: 93%;
}
.prevNext{
	width: 100%;
}
.btn-danger{
	background-color: rgb(255, 30, 30);
	color:white;
	font-weight: 900;
}
/*.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: red;
}*/
th,td{
	background-color: white;
}
body{
	background-color: #ECEDEE;
}
.probootstrap-header {
	background: #6078EA;
	padding-bottom: 30px;
}

html, body {
  height: 100%;
  margin: 0;
}
.editor{
	background-color: #FFFFFF;
	height: 100%;
}

#contentBtn,#designBtn{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	border-radius: 2px;
	border-color: #6078EA;
	font-family: Rubik,sans-serif;
	font-weight: 300;
	color: #6078EA;
	cursor: pointer!important;
	padding-bottom: 20px;
}
.choose{
	background-color: #ECEDEE;
}
.selected{
	border-bottom: solid;
}
#design{
	display: none;
}
.locationBtn{
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #EFF2F4;
	padding-left: 12px;
	-webkit-box-shadow: 0 2px 1px -2px #a0abbe;
	margin-bottom: 0px;
	cursor: pointer;
}
.locationBtn:hover{
	opacity: 0.60;
}
.locationBtn>p>.myTrash{
	visibility: hidden;
	color:red;
	padding-left: 200px;
}
.locationBtn:hover>p>.myTrash{
	visibility: visible;
}
p{
	margin-bottom: 0px;
}
.btnContainer{
	padding-left: 44px;
	padding-right: 44px;
}
.noSpace{
	height: calc(100% - 61px);;
}
.editorRow{
	height: 100%;
}
.addLocationBtn{
	background:#17E9D9!important;
	border: 1px solid #17E9D9!important;
}
.addLocationBtn:hover{
	opacity: 0.60;
}
.scrollDiv{
}
.fa-arrow-circle-right{
	font-size: 20px; float:right;padding-top: 6px;padding-right: 25px;
}