input {
-webkit-appearance: none;
 border:none;
 width: 100%;
 height: 100%;
 margin:0px;
 margin-bottom: 0px;
 padding: .75rem;
 background-color: transparent;
  }
.table{
	padding: 0px!important;
	background-color: #FFFFFF;
}
.noSpace{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	display:table;
	height: 93%;
}
.prevNext{
	width: 100%;
}
.btn-danger{
	background-color: rgb(255, 30, 30);
	color:white;
	font-weight: 900;
}
/*.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: red;
}*/
th,td{
	background-color: white;
}
body{
	background-color: #ECEDEE;
}
.probootstrap-header {
	background: #6078EA;
	padding-bottom: 30px;
}

html, body {
  height: 100%;
  margin: 0;
}
.editor{
	background-color: #FFFFFF;
	height: 100%;
}

#contentBtn,#designBtn{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	border-radius: 2px;
	border-color: #6078EA;
	font-family: Rubik,sans-serif;
	font-weight: 300;
	color: #6078EA;
	cursor: pointer!important;
}
.selected{
	border-bottom: solid;
}
#design{
	display: none;
}