
.alert {
  text-align: center;
  margin-bottom: 5px;
  color: rgb(255,128,128);
  margin-left: 0px;
}
body{
  background: #ECEDEE;

}
body,header{
      background: rgba(38, 42, 57, 0.9)!important;
}
header{
  opacity: .1;
}
  .signup-form {
      margin: 0 auto;
    padding: 30px 0;
  }
    .signup-form form {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
      margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 10px;
    }
  .signup-form a {
    color: #5cb85c;
  }    
  .signup-form h2 {
    text-align: center;
        color: rgb(9, 11, 23);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 0px;
  }
  .signup-form .hint-text {
        color: rgb(9, 11, 23);
    text-align: center;
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 300;
  }
  .signup-form .form-group {
    margin-bottom: 20px;
  }
    .signup-form .btn {        
        font-size: 18px;
    line-height: 26px;
        font-weight: bold;
    text-align: center;
    }
  .signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
    background-color: #6178EA!important;
  }
  .signup-btn:hover {
    opacity: 0.4;
  }
    .or-seperator {
        margin-top: 25px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
        padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
        position: relative;
        top: -22px;
        z-index: 1;
         color: rgb(9, 11, 23);
    }
    .social-btn .btn {
    color: #fff;
        margin: 10px 0 0 15px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
    } 
  .social-btn .btn:first-child {
    margin-left: 0;
  }
  .social-btn .btn:hover {
    opacity: 0.8;
  }
  .social-btn .btn-primary {
    background: #507cc0;
  }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
  .social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
  }
  .btn{
    border-radius: 0px;
  }
  a:hover{
    opacity: .4!important;
  }
  .facebook:hover{
    background-color: #4F81C1!important;
    background:#4F81C1!important;
    border:none!important;
  }
  .login{
    color: #5F7BEA!important;
    font-weight: bold;
  }
  input {
-webkit-appearance: none;
 border:none;
 width: 100%;
 height: 100%;
 margin:0px;
 margin-bottom: 0px;
 padding: .75rem;
 background-color: transparent;
  }
  input{
    background-color: #ECEDEE!important;
    border-radius:0px!important;
  }
  html, body {margin: 0; height: 100%; overflow: hidden}
  h1{
    background-color: black;
  }
.stay{
  background: linear-gradient(to right,#17ead9 0,#6078ea 100%)!important;
}

.other{
  padding-left: 0px;

}
.stuff{
  background: linear-gradient(134deg,#17ead9 0,#6078ea 100%)!important;
  border-top-right-radius:5px;
    border-bottom-right-radius:5px;

}
.signup-form{
  padding-top: 0px;
  padding-bottom: 0px;
}
.ll{
  color: #FFFFFF;
}
form{
  padding-left: 50px!important;
  padding-right: 50px!important;
}
#login{
  display: none;
}
a{
  cursor: pointer;
}
.register{
  color: #5F7BEA!important;
    font-weight: bold;
}