input {
-webkit-appearance: none;
 box-shadow: none !important;
 border:none;
 width: 100%;
 height: 100%;
 margin:0px;
 margin-bottom: 0px;
 padding: .75rem;
 background-color: transparent;
  }
.table{
	padding: 0px!important;
}
